.offer {
  background-color: #fff0da;
  padding: 3rem 2rem;
  text-align: left;
  color: #333;
  max-width: 800px;
  margin: auto;
  font-size: 1.1rem;
  line-height: 2;
}

.offer h2 {
  color: #f7931e;
  text-align: center;
  margin-bottom: 2rem;
}
